<% provide(:title, "") %>
<div class="center">
    <h1>メニュー</h1><br>
    <%= link_to "自己管理", "#", class: "btn btn-lg btn-primary" %>
    <%= link_to "ToDo投稿リスト", "#", class: "btn btn-lg btn-primary" %>
    <%= link_to "タスク投稿リスト", "#", class: "btn btn-lg btn-primary" %>
    <%= link_to "評価フィードバック", "#", class: "btn btn-lg btn-primary" %>
    <%= link_to "資料URL", "#", class: "btn btn-lg btn-primary" %>
</div>