<% provide(:title, "") %>
<h1>プロフィール</h1>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <table class="table table-bordered">
                <tr>
                    <th class="header">ユーザー名</th>
                    <td><%= @user.name %></td>
                </tr>
                <tr>
                    <th class="header">メールアドレス</th>
                    <td><%= @user.email %></td>
                </tr>
            </table>
            <%= link_to "編集", edit_user_registration_path, class: "btn btn-sm btn-success" %>
            <%= link_to "削除", user_registration_path, data: { confirm: "削除してもよろしいですか?" }, method: :delete, class: "btn btn-sm btn-danger" %>
            <%= link_to "ホームへ", homes_path, class: "btn btn-sm btn-info" %>
        </div>
    </div>
</div>
