<div class="box3">
  <div class="box-inner">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <h1>パスワード変更</h1>

    <div class="box-email">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="box-login">
      <%= f.submit "パスワード変更" %>
    </div>
    <% end %>
  </div>
  <%= render "devise/shared/links" %>
</div>