<% provide(:title, "全投稿スケジュール一覧") %>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
        <h1>今日と前日のスケジュール</h1>
        <table class="table table-bordered table-condensed table-striped table-hover" id="table-schedules">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <td><%= Date.today.strftime("%Y年%m月%d日") %>のスケジュール</td>
                </tr>
            </thead>
            <tbody>
                <% @today_tasks.each_with_index do |task, index| %>
                    <tr>
                        <th scope="row"><%= index + 1 %></th>
                        <td><%= link_to task.task_detail, task_path(task) %></td>
                    </tr>
                <% end %>
                <% @today_healths.each_with_index do |health, index| %>
                    <tr>
                        <th scope="row"><%= @today_tasks.size + index + 1 %></th>
                        <td><%= link_to health.health_detail, health_path(health) %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <br>
        <table class="table table-bordered table-condensed table-striped table-hover" id="table-schedules">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <td><%= Date.yesterday.strftime("%Y年%m月%d日") %>の反省</td>
                </tr>
            </thead>
            <tbody>
                <% @yesterday_tasks.each_with_index do |task, index| %>
                    <tr>
                        <th scope="row"><%= index + 1 %></th>
                        <td><%= link_to task.task_comment, task_path(task) %></td>
                    </tr>
                <% end %>
                <% @yesterday_healths.each_with_index do |health, index| %>
                    <tr>
                        <th scope="row"><%= @yesterday_tasks.size + index + 1 %></th>
                        <td><%= link_to health.health_comment, health_path(health) %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <br>

        <h2>全体のスケジュール</h2>
        <%= link_to "タスク管理", tasks_path, class: "btn btn-info btn-form" %>||
        <%= link_to "健康管理", healths_path, class: "btn btn-info btn-form" %>||
        <%= link_to "PDCA報告", reports_path, class: "btn btn-info btn-form" %>
        <%= month_calendar events: @tasks + @healths + @reports do |date, events| %>
            <%= date.day %>
            <% events.each do |event| %>
                <div>
                <% if event.is_a?(Task) %>
                    <%= link_to event.task_title, event %>
                <% elsif event.is_a?(Health) %>
                    <%= link_to event.health_title, event %>
                <% else %>
                    <%= link_to event.report_title, event %>
                <% end %>
                </div>
            <% end %>
        <% end %>
        </div>
    </div>
</div>