<% provide(:title, "PDCA投稿") %>

<h1>PDCA投稿一覧</h1>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
        <%= link_to "新しいタスクを追加", new_report_path, class: "btn btn-primary btn-form" %>
        <%= month_calendar events: @reports do |date, reports| %>
            <%= date.day %>
            <% reports.each do |report| %>
                <div>
                    <%= link_to report.report_title, report %><br>
                </div>
            <% end %>
        <% end %>
        <%= link_to "ホームへ", homes_path, class: "btn btn-info btn-form" %>
    </div>
</div>